<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Asteroides Peligrosos</title>
    <link rel="stylesheet" th:href="@{/css/login.css}">
</head>
<body>
<main class="portada">
    <h1>Asteroides Peligrosos</h1>
    <section class="tarjeta">
        <div class="logo">
            <p class="texto">¡Bienvenido a Asteroides Peligrosos! Inicia sesión para descubrir que Asteroides rondan la Tierra.</p>
        </div>
        <div class="acciones">
            <a class="google-btn" href="/oauth2/authorization/google">
                <img class="google-ico" src="/logo-de-google-96.png" alt="">
                <span class="google-text">Iniciar sesión con Google</span>
                <span class="google-spacer" aria-hidden="true"></span>
            </a>
        </div>
    </section>
</main>
</body>
</html>
